*.png
cogan-electrode.pdf
pics/
bowen ji 2018.pdf
Raza 2025.pdf
lab-2/figs/thermal conductivity figure.pptx
midterm/
manna - mechanical performance in clay-based multilayer nanocomposite thin films.pdf
*.mp4
lab-3/slides.pdf
